<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{base::head}"></div>
    <title>New person</title>
</head>
<body>
<div th:insert="~{base::header}"></div>
<div th:insert="~{base::aside}" style="float: left"></div>
<h1>Admin Panel</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a data-toggle="tab" class="nav-link" href="/admin">Users table</a>
        </li>
        <li class="nav-item">
            <a data-toggle="tab" class="nav-link active" href="#newUser">New User</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="allUsers" class="tab-pane active">
            <div class="card">
                <div class="card-header"><p><strong>Add new user</strong></p></div>
            </div>
            <div id="newUser" class="tab-pane active" style="background-color: white">
                <form th:method="POST" th:action="@{/admin/addUser}" th:object="${user}">
                    <div class="row justify-content-center">
                        <div class="col-3 mt-5">
                            <div class="d-grid gap-4 text-center">
                                <div class="form-group">
                                    <label for="login">Login </label>
                                    <input type="text" th:field="*{username}" id="login" class="form-control"/>
                                </div>

                                <div class="form-group">
                                    <label for="password">Password </label>
                                    <input type="text" th:field="*{password}" id="password" class="form-control"/>
                                </div>

                                <div class="form-group">
                                    <label for="name">First Name </label>
                                    <input type="text" th:field="*{name}" id="name" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label for="surname">Last name </label>
                                    <input type="text" th:field="*{surname}" id="surname" class="form-control"/>
                                </div>

                                <div class="form-group">
                                    <label for="age">Age</label>
                                    <input type="text" th:field="*{age}" id="age" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="securityRolesList"><strong>Role</strong></label>
                                    <select id="securityRolesList" th:field="*{roles}" size="2" multiple="multiple" class="form-control">
                                        <option th:each="str : ${roleList}"
                                                th:value="${str}"
                                                th:text="${str}">
                                            USER
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Add new user" class="btn btn-success"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>